.missionVisionValue-section{width:100%; display:inline-block;}
.missionVisionValue-section h2{position:relative;line-height: 1.5;}
.missionVisionValue-section h2:after{background:#00a651;content:""; width:60px;height:3px;position:absolute; left:0;bottom:0}