.PortfolioPage {
  width: 100%;
  display: block;position: relative;
  max-width: 1170px;
  margin: auto;  }
  .ReactGridGallery{display:flex;justify-content:center;flex-wrap: wrap;}
   .ReactGridGallery_tile{width:17%} 
  .ReactGridGallery_tile img{display:block;max-width:100%;width:100%!important;height: auto!important;margin: auto!important;}
  .ReactGridGallery_tile-viewport{width:100%!important;display: flex;height:auto!important;}
  h2.heading {
    border-radius: 27px;
    font-size: 23px;
    padding: 10px;
    border:1px solid #0f779d;
    
  }
  @media all and (max-width:767px) {
    .ReactGridGallery_tile{width:44%} 
  }
  
  
  @media all and (max-width:500px) {
    .ReactGridGallery_tile{width:70%} 
  }